@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.img {
  min-height: 100vh;
  background-size: cover;
}

.img1 {
  background: url("../src/photos/img-01.png") fixed repeat;
}
.img2 {
  background: url("../src/photos/img-02.webp") fixed repeat;
}
.img3 {
  background: url("../src/photos/img-03.png") fixed repeat;
}
.img4 {
  background: url("../src/photos/img-04.jpg") fixed repeat;
}
